POSTGRES_IMAGE=postgres:18
POSTGRES_DB=alty_server
POSTGRES_USER=alty
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/alty_server
SPRING_DATASOURCE_USERNAME=alty
SPRING_DATASOURCE_PASSWORD=change-me